<% layout("/layouts/boilerplate.ejs") %>

<h1 class="text-center my-5"><%= category.name %> Service Providers</h1>

<div class="container">
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 g-4">
    <% if (providers.length > 0) { %> <% providers.forEach(provider => { %>
    <div class="col">
      <a
        href="/services/<%= services._id %>/provider/<%= provider._id %>"
        class="text-decoration-none"
        style="color: inherit"
      >
        <div class="card shadow border-0 h-100 p-3 rounded-lg">
          <img
            src="<%= provider.portfolio && provider.portfolio.length ? provider.portfolio[0].img : 'https://cdn-icons-png.flaticon.com/512/4202/4202841.png' %>"
            class="card-img-top card-img mx-auto"
            alt="<%= provider.user.name %>"
          />
          <div class="card-body text-center p-2">
            <h5 class="card-title"><%= provider.user.name %></h5>
            <p class="card-text">
              Experience: <%= provider.experience %> years
            </p>
            <p class="card-text">
              Price: <%= provider.cost ? provider.cost : 'N/A' %>
            </p>
            <p class="card-text">
              Location: <%= provider.address ? provider.address : 'N/A' %>
            </p>
          </div>
          <div class="card-footer text-center">
            <form
              action="/services/<%= serviceId %>/<%= provider._id %>/book"
              method="get"
              class="p-2"
            >
              <button class="btn btn-primary">Book this provider</button>
            </form>
          </div>
        </div>
      </a>
    </div>
    <% }) %> <% } else { %>
    <p>No providers found for this service.</p>
    <% } %>
  </div>
</div>
